<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Авторизация</title>
</head>
<body>
<div class="container">
    <h1>Авторизация</h1>

    <div class="toggle-buttons">
        <button class="toggle-button active" id="phone-button">Телефон</button>
        <button class="toggle-button" id="email-button">Email</button>
    </div>

    <input type="text">
    <button class="enter-button">Войти</button>
</div>

<script>
    const phoneButton = document.getElementById("phone-button");
    const emailButton = document.getElementById("email-button");

    phoneButton.addEventListener("click", () => {
        phoneButton.classList.add("active");
        emailButton.classList.remove("active");
    });

    emailButton.addEventListener("click", () => {
        emailButton.classList.add("active");
        phoneButton.classList.remove("active");
    });
</script>

</body>
</html>