<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильм</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/film.css">
</head>


<div class="container">
    <div class="header">
        <i class="fas fa-bars menu-icon"></i>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Фильмы, сериалы, персоны">
            <i class="fas fa-search search-icon"></i>
            <i class="fas fa-ellipsis-v menu-dots"></i>
        </div>
        <div class="login-section">
            <button class="login-button" onclick="window.location.href='http://127.0.0.1:8000/login';">Войти</button>
            <i class="far fa-user user-icon"></i>
        </div>
    </div>
</div>

