<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы и сериалы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/Home.css">
</head>


<div class="container">
    <div class="header">
        <i class="fas fa-bars menu-icon"></i>
        <div class="search-container">
            <form onsubmit="event.preventDefault(); search();">
                <input type="text" id='search-input' class="search-input" placeholder="Фильмы, сериалы, персоны" required>
                <button type='submit' style="display: none;">Поиск</button>
            </form>
            
            <i class="fas fa-search search-icon" onclick="search()" style="cursor: pointer;"></i>
            <button class="filter-button" id="filterButton">
                <i class="fas fa-ellipsis menu-dots"></i> <!-- Font Awesome ellipsis icon -->
            </button>
        
            <div class="filter-dropdown" id="filterDropdown">
                <!-- Фильтры -->
                <label>
                    <input type="checkbox" name="genre" value="криминал"> Криминал
                </label>
                <label>
                    <input type="number" name="year" placeholder="Год">
                </label>
                <label>
                    <input type="text" name="rating" placeholder="Рейтинг (8-10)">
                </label>
        
                <button class="apply-filters">Применить</button>
            </div>

        </div>
        <div class="login-section">
            <button class="login-button" onclick="window.location.href='login';">Войти</button>
            <i class="far fa-user user-icon"></i>
        </div>
    </div>

    <h2 class="collection-title">Collection</h2>

    <div class="collection-container">
        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/1'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/586e/5a53/ebf1caf692e268a379f92e624e8c6047?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=CAAaBPYfvQWw0ei1T2fTfVB3269xebutzaw9EH8bHbAq2oaUxAh-gTVMJ0VZA6kmba0t2itYFgqjUV4TM54EcUXvLv-VQuu57y~EljhXIB5GmGKXBOc4~X3eGDAp3xl7ABO4DRu-QZV9klNN1~VgcIjIStG-dcE6umV0cJit8T6DptEI1-rV1WSR26K9mVY~IWIYdhAIp4jndwge3HoWnvdzIBDSGTgQ18JPXNVVmJB5BYV5nWfn-o2UtN2PngqqavbXXMLZGGyG1lpsiMUMvacDBDms2H0szF~jkjynQ-h03KzyymPD-6AY0asObQPIG1wQ9Oh0u~fMVBsdMDcbRA__"
                alt="Jaws">
            <div class="movie-details">
                <div class="movie-title">Jaws</div>
                <p class="movie-details">1975</p>
                <p class="movie-tags">#horror #thriller</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/2'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/3369/1b21/02badc1d41a57ac90df767b454bbc891?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=C9sOIxYEGNm8EuOhDRVJ7Ws~K7R4kRrBpYU1aUKnoO9FzIzJAflhBa4BBzYzoixgwqxuFTaOm5P9~dekO2Fl02CSL473kd657mJXOlffT~dq2AhZWAzp2NS~AE0VGCS1xLVV1YxbtSYa4vTPuTkhDn4K2OjwFFa-NLidMTo~UauRx71scQDADT3RSB6u2SS6~6ZzccSnlXGIFg8PNAxau6vcsywR7zxMvWvTxjcF9PqIB8fju4KD7hZq7PexFdFR2etDPhRllhI6L~mXf-vw9lgT~LDVr7UFR4H9kPohcUiEfMmXTvaY0QQlluWvqiqMqPKz3cTzoSX0bbkQJ7~RGA__"
                alt="Avengers">
            <div class="movie-details">
                <div class="movie-title">Avengers</div>
                <p class="movie-details">2018</p>
                <p class="movie-tags">#action #fantasy</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/3'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/3d56/2104/3e1815d2026cfd2a3e3bc1fba938ed17?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=B50X48EDKAv~ZhHAnvjx1USR1UQV7AA1UO~OIpRd4RxtZFbhR3GXQHGqZgWIaJXwTIV6KHuknBri6p7VCJXCLlx9kGFJv-~U-4puxnvJsbSK9kOiEa7Bl82RoG~P8Fgm3lm5PmS-hN3Qwe1WywlGOrecai2qKwSR41RPMeNZX07RSskmicxmKBISsJw97Cb9OIwV-k34y936wuIlP2rUkL86DTlwFsThBknq~kEAGzhcj59r-HBv7SkCU9i9N5iRI8oR36vMhMtnrJJwqellmOeaemWeT6qYJx2mbU7px0woxKYgHP8xrZ8JCnnLqNs9e~tFTrOL8z8otjxK0G2sIw__"
                 alt="Kill Bill">
            <div class="movie-details">
                <div class="movie-title">Kill Bill</div>
                <p class="movie-details">2003</p>
                <p class="movie-tags">#action #crime</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/4'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/18fd/7120/e2fd4e3b8e7bc1451c91183713a22fd6?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=PefNa-YFGoyG73OEcXWm5gLVLBx0zNb5CEbGYO3ts4QudObTlKN0jAgD414bOXm8YQ4iFvwA8PRddCJwI5dj3JTKF9L6KMe3uwnN8HNPkSX4C2afn9J6Q7Xk2OUHvwkec7D2BGXPVyU7rKLKABPo8jPgzV8eccVhQabAv6fLIXc8Zf0ij~63alNtyB93jXOtzCHdzQIAA4KXZnLDSis8-MWMPgqOzy5hEkHnRhigsk-8DHgP-gNW5RQCtL~wnVoSox5IYXI-uu2L2Z8NnL06UtMl7mK37f2p0YeXluYM9nScXzrW1NAswt7qWy07X2Lr0eEgv2DuMFTXRMut2-k-fw__"
                 alt="Harry Potter">
            <div class="movie-details">
                <div class="movie-title">Harry Potter</div>
                <p class="movie-details">2001</p>
                <p class="movie-tags">#family</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/5'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/db4e/45a4/b6d0d058b28e3f66e2813fccd44a65de?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=M2mo8i6-gf3pUdJ1ZPW9e0e0m~CPc7dVnyiSp9khv7NKh9kuGAgU8N9JB-CMesEbriUCsl6y1x5ihb5hukUxqRaaNIMHOpNe5mHj-1wpGXG8F4-O3fjCWg2~Ao5jdJUAY6Ff5mJwfPqavKMYqW5fqUDR5S3YWdZNN3Qv4X~3~QjwWv-w-Xa440~hP6bWN74jcz84rZo-Qd0yy9U00LQNTY85Zt0RlAEycBzDta657cPcL2-S3hileTvC62glb~56bHijCPr5KyBBGZDMeVraU54pblrkGDD-qxXHDZy4E3-oWCWyLsCm1gR5xnvGDQZMf9uRpfrdmr8j5KD45Emqrw__"
                 alt="Alita">
            <div class="movie-details">
                <div class="movie-title">Alita</div>
                <p class="movie-details">2019</p>
                <p class="movie-tags">#fantasy #action</p>
            </div>
        </div>
        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/6'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/8995/ed8f/41c90746de1a1e3aeafe68f47925acdc?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=CVm8XTw~AUAgNjMNAiQNylrMndKxEL351~-p-p-OdyCbEQTRo4g1eta9MdMMXZZnJP11hd1UQYB6~I-Z07jByefrBQF-2jg5nDSBn5SntM4b01-SJxy46j3xkwwesph3NBV1O4nfFJc-1hg7hCwdw98pF9m2STCMqkc7CF8OgARiObcRe8S6ps10BqBclU19yWZI6iYTEzHOX2E96JrYkG2SLbo-ZBewxbC-idNRpj2en5-h9PTy1x7P0-6MnMDoxPu~cA4oBgRymlI-u7dtnhUePrwpykewUm-sBS1OWqIXFRx~RnK1ZFBZ2VWzZDlx1YNpOLZboUb6o10d0eNpHQ__"
                 alt="Venom">
            <div class="movie-details">
                <div class="movie-title">Venom</div>
                <p class="movie-details">2018</p>
                <p class="movie-tags">#action #sci-fi</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/7'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/1d49/0321/0b7e489d008f656168bf00e25cb90a18?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=A~SG-IsRLF7HgA0t3sFX7l0VI2VqbyD1su3Z8UZ7s3-VkiR9jRlmN3nD38Br2yW-Tq7w~FrBT~CQyvoKZ8sU0GlnhaAIt719pUdK3PzxtVOx~GFDuLV~YrjKIp6OsFkfZ4OiEPWvC8Pa3yVO~zH0ZevCSIDew5AgpBnoeDS9I893qdh43782N4vpBCZ~R0wEuaNmuovissNJ9wMfJ09YLdH3JAXSF2KynsiljsAkBE17GGRxiLa2oXPiLb89RPW3T8aF9pOTxQCArAhoA5DJ6150rnWiCJJOna~kAsuyjZ-rJxcU9qsajbFnaxilhffBnh9OLmTFaYo4L-Mb4SBSUA__"
                 alt="How to Train Your Dragon">
            <div class="movie-details">
                <div class="movie-title">How to Train Your Dragon</div>
                <p class="movie-details">2010</p>
                <p class="movie-tags">#animation #family</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/8'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/4852/d43d/94dea3819e3eeea1a35e77b3efe5b138?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=cbnSTY7ug4m0nA-K92kPPrLJmpwKpJrmqOuWBcoN6drxVdwmTn2kyRSb-B48DvksgCGQGSpdE7qIabhr5i0sl~fnRmq99V7IWiqb60ga5FhTAI6zRITChtHvAOQAD7BBIEWdhGDrl65aY~BaobhzAuOFNSUGKi~QgfeuSGKjIgtJc3fvjFfCggafoiu7OOcQ-siGRGykz0r6-QwVEM1tI-sPxeop8PirRP0fm4bUSKZU7DGPoQtqSIVvXQMBXOzFH26si4YNmv7~Qtjm5suwthTqvIOLOEwHQi4vgRtwAJusQ7UkNRL9F1f4JbtoxZwnEFRZyZkFIFY-VqtQzy-JIw__"
                 alt="Avatar">
            <div class="movie-details">
                <div class="movie-title">Avatar</div>
                <p class="movie-details">2009</p>
                <p class="movie-tags">#action #sci-fi</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" onclick="window.location.href='/movie/9'" pointer="cursor" src="https://s3-alpha-sig.figma.com/img/15eb/b608/afb7331b4da6c23b3361c893d939cf44?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Pjwyw4~8mNaWuufgZ99I4cN5Z2SV5Iyl3nVcISUyoZRBqbkJRLPrTNhV~MSrhMTLop-wRZVcdyx5hFTPhVKQ~2pepNYvwaniykwe1bAK-VEeEzmleItxZRv3nDrB4U2o-ZyhJICQaTCg5OmWdCaPS1EvM8azQvFkLNXxTcGNgCP2j92M2GKJXfERM62AAeIuVLeDzFaI~nYGbo~ISD7acZSuuJFb45ShdTaLMwO2HO21qOTlba~6X-G543gsL59SMq092zVBw3GEEB-71fEOfLZOrot076-tIB6XPa3KIEtaAjgenTlv2w3k0Mk1qOYTsfE6ePGg-UED~2KuGefjXg__"
                 alt="Five Nights at Freddy's">
            <div class="movie-details">
                <div class="movie-title">Five Nights at Freddy's</div>
                <p class="movie-details">2023</p>
                <p class="movie-tags">#horror #mystery</p>
            </div>
        </div>
    </div>
    
    <script src="/static//js/searchBox.js"></script>
    <script src="/static/js/searchDropBox.js"></script>
</div>
    <script>
            function search() {
                const query = document.getElementById('search-input').value;
                const searchUrl = `search?q=${encodeURIComponent(query)}`;
                window.location.href = searchUrl;
            }
            function handleKeyDown(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    search();
                }
            }
            </script>
</html>
