<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы и сериалы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>


<div class="container">
    <div class="header">
        <i class="fas fa-bars menu-icon"></i>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Фильмы, сериалы, персоны">
            <i class="fas fa-search search-icon"></i>
            <i class="fas fa-ellipsis-v menu-dots"></i>
        </div>
        <div class="login-section">
            <button class="login-button" onclick="window.location.href='http://127.0.0.1:8000/login';">Войти</button>
            <i class="far fa-user user-icon"></i>
        </div>
    </div>

    <h2 class="collection-title">Collection</h2>

    <div class="collection-container">
        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/71hE2eU1gAL._AC_UF894,1000_QL80_.jpg"
                alt="Jaws">
            <div class="movie-details">
                <div class="movie-title">Jaws</div>
                <p class="movie-details">1975</p>
                <p class="movie-tags">#horror #thriller</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/819hQCLdKkL._AC_UF894,1000_QL80_.jpg"
                alt="Avengers">
            <div class="movie-details">
                <div class="movie-title">Avengers</div>
                <p class="movie-details">2018</p>
                <p class="movie-tags">#action #fantasy</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/51EG7327KL._AC_UF894,1000_QL80_.jpg"
                 alt="Kill Bill">
            <div class="movie-details">
                <div class="movie-title">Kill Bill</div>
                <p class="movie-details">2003</p>
                <p class="movie-tags">#action #crime</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/71Qc3Q-t9HL._AC_UF894,1000_QL80_.jpg"
                 alt="Harry Potter">
            <div class="movie-details">
                <div class="movie-title">Harry Potter</div>
                <p class="movie-details">2001</p>
                <p class="movie-tags">#family</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/61a4eQyYtGL._AC_UF894,1000_QL80_.jpg"
                 alt="Alita">
            <div class="movie-details">
                <div class="movie-title">Alita</div>
                <p class="movie-details">2019</p>
                <p class="movie-tags">#fantasy #action</p>
            </div>
        </div>
        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/81hYJ0l34XL._AC_UF894,1000_QL80_.jpg"
                 alt="Venom">
            <div class="movie-details">
                <div class="movie-title">Venom</div>
                <p class="movie-details">2018</p>
                <p class="movie-tags">#action #sci-fi</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/81e1hS-fXdL._AC_UF894,1000_QL80_.jpg"
                 alt="How to Train Your Dragon">
            <div class="movie-details">
                <div class="movie-title">How to Train Your Dragon</div>
                <p class="movie-details">2010</p>
                <p class="movie-tags">#animation #family</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/61-f93o58QL._AC_UF894,1000_QL80_.jpg"
                 alt="Avatar">
            <div class="movie-details">
                <div class="movie-title">Avatar</div>
                <p class="movie-details">2009</p>
                <p class="movie-tags">#action #sci-fi</p>
            </div>
        </div>

        <div class="movie-container">
            <img class="movie-poster" src="https://m.media-amazon.com/images/I/7190iA5kM8L._AC_UF894,1000_QL80_.jpg"
                 alt="Five Nights at Freddy's">
            <div class="movie-details">
                <div class="movie-title">Five Nights at Freddy's</div>
                <p class="movie-details">2023</p>
                <p class="movie-tags">#horror #mystery</p>
            </div>
        </div>
    </div>
</div>

</html>
