body {
    font-family: Arial, sans-serif;
    background-image: url("image/Градиент дизайн.png");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8ff;
    font-size: 24px;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
    text-align: center;
    width: 424px;
    height: 382px;
    margin: auto;
}

h1 {
    color: rgba(23, 47, 71, 1);
}

.toggle-buttons {
    display: flex;
    margin-bottom: 15px;
}

.toggle-button {
    padding: 10px 20px;
    background-color: rgba(75, 103, 137, 1); /* Steel Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s ease;
    height: 63px;
    width: 361px;
    font-size: 24px;
}

.toggle-button:hover {
    background-color: #2e648b;
}

.toggle-button.active {
    background-color: rgba(39, 69, 105, 1);
}

input[type="text"] { /* changed type to text as it fits both phone and email */
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    background-color: rgba(75, 103, 137, 1);
    color: #fff;
    width: 361px;
    height: 66px;
    font-size: 18px;
}

input[type='text']::placeholder {
    color: #fff
}

.enter-button {
    padding: 10px 20px;
    background-color: rgba(39, 69, 105, 1); /* Steel Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 58px;
    width: 221px;
    font-size: 24px;

}

button:hover {
    background-color: #2e648b;
}